@import "tailwindcss";
select,
::picker(select) {
  appearance: base-select;
}
select {
  @apply bg-white rounded-xl  py-3 px-4 w-full shadow-md;
  transition: 0.4s;
}

select::picker-icon {
  color: #3f3f3f;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  @apply bg-white rounded-xl max-h-[19rem] border-gray-400 py-3 px-3 w-fit shadow-md;
  transition: 0.4s;
}
option {
  @apply bg-white;

  padding: 10px;
  transition: 0.4s;
}
selectedcontent .icon {
  display: none;
}
option:checked {
  font-weight: bold;
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
